@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.saira-font {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import "tailwindcss";

.ql-editor h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.ql-editor h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.ql-editor h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.ql-align-center {
  text-align: center;
}

.ql-editor pre,
.ql-editor code {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-x: auto !important;
  max-width: 100% !important;
}

.prose {
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-padding-top: 110px;
  /* hoặc giá trị bằng chiều cao của thanh điều hướng cố định */
}